/* body {
    background-color: red;
} */

/* Background Gradient */
/* .gradient {
    background: linear-gradient(to right, red, blue);
} */

/* Universal Selector */

/* * {
    margin: 0;
    padding: 0;
} */



